# Ignore LaTeX output files
doc/documentation.aux
doc/documentation.bbl
doc/documentation.blg
doc/documentation.fdb_latexmk
doc/documentation.fls
doc/documentation.log
doc/documentation.out
doc/documentation.pdf
doc/documentation.synctex.gz
doc/documentation.toc
doc/documentation.lof
doc/documentation.lot
.DS_Store